* {
  margin: 0;
  border: 0;
  padding: 0;
}
:root{
    --colorOne: purple;
    --colorTwo: red;
    --paraFont: 'Raleway', sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
  background: lightcoral;
}
/* h1 {
  font-family: 'Raleway', sans-serif;
  font-family: "Merienda", cursive;
  font-weight: 400;
  font-weight: 700;
} */
.child {
  width: 200px;
  height: 200px;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.childone {
  /* background: green; */
  background: var(--colorOne);
  /* z-index: 2; */
}
.childtwo {
  /* background: blue; */
background: var(--colorTwo);
  /* z-index: 1; */
}
h1{
    font-family: var(--paraFont);
}