* {
  border: 0;
  padding: 0;
  margin: 0;
}
.flex {
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  width: 100vw;
  height: 100vh;
  background: lightcoral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20fr 40fr 20fr 40fr;
  grid-template-areas:
    "menu menu"
    "content content"
    "left right"
    "footer footer";
}
.menu {
  grid-area: menu;
  background: lightgreen;
  text-align: center;
}
.content {
  grid-area: content;
  background: blue;
  text-align: center;
}
.left {
  grid-area: left;
  background: red;
  text-align: center;
}
.right {
  grid-area: right;
  background: yellow;
  text-align: center;
}
.footer {
  grid-area: footer;
  background: purple;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 20fr 20fr 20fr;
    grid-template-areas:
      "content"
      "left"
      "right"
      "footer";
  }
  /* Display: None :> remove the menu from the html. so it will not take space. */
  .menu {
    display: none;
  }
  /* Menu is hidden but it uses its space. */
  /* .menu {
    visibility: hidden;
  } */
}
