#heading{
    color : green;
}
#heading2{
    color: rgb(110, 13, 87)
}
#head{
    background-color: yellow;
    height: 300px;
    width: 300px;
    border: 2px solid red;
    padding: 100px;
    margin: 100px;
}
#head01{
    background-image: 
}