* {
  margin: 0;
  border: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background: lightblue;
}
.flex {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.upper {
  height: 50%;
  /* background: lightcoral; */
  background-image: url(./background_images/background_image_5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.urow1 {
  height: 15%;
  display: flex;
  /* background: lightgreen; */
}
.ur1c1 {
  flex: 1;
  /* background: lightblue; */
}
.ur1c2 {
  flex: 1;
  /* background: lightgrey; */
  background-image: url(./logo/array_logo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%, cover
}
.ur1c3 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c4 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c5 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c6 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c7 {
  flex: 5;
  /* background: lightpink; */
}
.ur1c8 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c9 {
  flex: 1;
  /* background: lightpink; */
}
.ur1c10 {
  flex: 0.5;
  /* background: lightpink; */
}
.urow2 {
  display: flex;
  /* flex-flow: column; */
}
.urow2c1 {
  flex: 2;
}
.urow2c2 {
  flex: 6;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.urow2c2r1 > p {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.urow2c2r2 > p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.collection {
  text-align: center;
  margin-top: 2%;
}
.collection_button {
  background-color: red;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}
.urow2c3 {
  flex: 2;
}

.lower {
  height: 50%;
  background: white;
  display: flex;
  flex-flow: column;
}
.lr1 {
  flex: 1;
  /* height: 10%; */
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
.lr2 {
  flex: 1;
  /* height: 5%; */
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
}
.lr3 {
  flex: 4;
  /* height: 35%; */
  display: flex;
  /* background: lightsalmon; */
}
.lr3c1 {
  flex: 1;
  /* background: lightgreen; */
}
.lr3c2 {
  flex: 1;
  /* background: lightslategray; */
}
.circle1 {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-image: url(./developers_photo/developer_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lr3c3 {
  flex: 3;
  /* background: orange; */
  margin: auto;
}
.name {
  margin-top: 15px;
}
.lr3c4 {
  flex: 1;
  /* background: white; */
}
.circle2 {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-image: url(./developers_photo/developer_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lr3c5 {
  flex: 3;
  /* background: yellow; */
  margin: auto;
}
.lr3c6 {
  flex: 1;
  /* background: brown; */
}
.lr4 {
  flex: 4;
  /* height: 35%; */
  display: flex;
  /* background: lightgreen; */
}
.lr4c1 {
  flex: 1;
  /* background: lightseagreen; */
}
.lr4c2 {
  flex: 1;
}
.circle3 {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-image: url(./developers_photo/developer_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lr4c3 {
  flex: 3;
  /* background: lightslategray; */
  margin: auto;
}
.lr4c4 {
  flex: 1;
}
.circle4 {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-image: url(./developers_photo/developer_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lr4c5 {
  flex: 3;
  /* background: white; */
  margin: auto;
}
.lr4c6 {
  flex: 1;
  /* background: yellow; */
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
