* {
  border: 0;
  padding: 0;
  margin: 0;
}
.flex {
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  width: 100vw;
  height: 100vh;
  background: red;
  overflow-x: hidden;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 100vw;
  grid-template-rows: 100vh;
  transform: translateX(-20vw);
  transition: transform 500ms ease-in-out;
}
.wrapper:hover {
  transform: translateX(0px);
}
.content {
  background: purple;
}
.menu {
  background: yellow;
}
